executor { $local { cpus = 20; memory = '52 GB' } }
process {
    withName: 'SNIPPY_CORE_GATHER' {
        cpus = 4; memory = { task.attempt == 1 ? 12.GB : 24.GB }; maxForks = 3
        errorStrategy = { (task.exitStatus in [71,104,134,137,139,140,143,255] && task.attempt <= 2) ? 'retry' : 'ignore' }
        maxRetries = 2
    }
    withName: 'KEEP_INVARIANT_ATCG' {
        cpus = 2; memory = { task.attempt == 1 ? 12.GB : 24.GB }; maxForks = 3
        errorStrategy = { (task.exitStatus in [71,104,134,137,139,140,143,255] && task.attempt <= 2) ? 'retry' : 'ignore' }
        maxRetries = 2
    }
    withName: 'IQTREE_FAST' {
        cpus = 2; memory = 8.GB; maxForks = 3
        errorStrategy = { (task.exitStatus in [71,104,134,137,139,140,143,255] && task.attempt <= 2) ? 'retry' : 'ignore' }
        maxRetries = 2
    }
    withName: 'ASC_PREFLIGHT' {
        errorStrategy = { (task.exitStatus in [71,104,134,137,139,140,143,255] && task.attempt <= 2) ? 'retry' : 'ignore' }
        maxRetries = 2
    }
    withName: 'GUBBINS_CLUSTER' {
        cpus = 4; memory = { task.attempt == 1 ? 12.GB : 24.GB }; maxForks = 3
        errorStrategy = { (task.exitStatus in [71,104,134,137,139,140,143,255] && task.attempt <= 2) ? 'retry' : 'ignore' }
        maxRetries = 2
    }
    withName: 'IQTREE_ASC' {
        cpus = 4; memory = { task.attempt == 1 ? 12.GB : 24.GB }; maxForks = 2
        errorStrategy = { (task.exitStatus in [71,104,134,137,139,140,143,255] && task.attempt <= 2) ? 'retry' : 'ignore' }
        maxRetries = 2
    }
}
